<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SCC.Modules.DotMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <SCC.Modules.DotMap.Properties.Settings>
            <setting name="SCC_Modules_DotMap_NbnGateway_GatewayWebService"
                serializeAs="String">
                <value>http://www.nbnws.net/ws/webservice</value>
            </setting>
        </SCC.Modules.DotMap.Properties.Settings>
    </applicationSettings>
</configuration>
