<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="Transfer.Properties.Settings.currentConnectionString"
            connectionString="Data Source=sql5.hostinguk.net;Initial Catalog=DBWRE10489;User ID=WRE10489;Password=DXTwXSWy#7"
          providerName="System.Data.SqlClient" />
        <add name="Transfer.Properties.Settings.localhostConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Inetpub\wwwroot\DotMap\DNN\App_Data\dnn.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Transfer.Properties.Settings.natshropConnectionString"
            connectionString="Data Source=sql5.hostinguk.net;Initial Catalog=DBWRE10489;User ID=WRE10489;Password=DXTwXSWy#7"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>